{% extends "reviews/base.html" %} {%block content%} {% if p %}
<div class="col-md-7">
	<a href="{% url 'detail' p.id %}">
		  <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
		</a>
</div>
<div class="col-md-5">
	<h3>{{ p.name }}</h3>
	<p>Opiniones:</p>
</div>

{% if reviews_list %}
<ul>
	{% for r in reviews_list %}
	<div class="row">
		<li> {{r.title }} : {{ r.text }}
	</div>
	<hr> {% endfor %}
</ul>
{% else %} No hay reviews para este producto {% endif %} {% else %} Producto no encontrado {% endif %} {% endblock %}